name: PR Check

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          
      - name: Install Dependencies
        run: cd frontend && npm install
        
      - name: Build Project
        run: cd frontend && npm run build